h1 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

p {
  text-align: left;
}

.post-container {
  font-family: Arial, Helvetica, sans-serif;
}

.post-header {
  display: inline-flex;
}

.fecha-comentario {
  margin-top: 25px;
    margin-left: 2000px;
    text-decoration: solid;
    font-size: x-large;
}


